<% include partials/header %>

<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>

  <% allPosts.forEach(function(post,index){ %>
  <h2><a href="posts/<%=post.id %>"><%= post.title %></a></h2>
  <br><%=post.body %><br>
  <small>by ~<a href="/authors/<%= post.AuthorId%>">authorname</a> on <%=post.createdAt %></small>
  <br>
  <br>
  <br>
  <% }); %>

    </p></div>
    <div class="pure-u-1-5"></div>

</div>

<% include partials/footer %>