<% include ../partials/header %>

<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>



  <% allAuthors.forEach(function(author,index){ %>
  <h1><a href="/authors/<%=author.id %>"><%= author.name %></a></h1>
    <%=author.bio %><a href="/authors/<%= author.id %>/edit">Edit</a>
  <br>
  <br>

  <form action="/authors/<%= author.id %>?_method=delete" method="post">
    <input type="submit" value="Delete this author">
  </form>

  <% }); %>


    </p></div>
    <div class="pure-u-1-5"></div>

</div>

<% include ../partials/footer %>
