<% include ../partials/header %>

<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>


  <h1><%= author.name%></h1>

  <p><%= author.bio%></p>

  <h2>stories</h2>

  <% allPosts.forEach(function(post,index){ %>
  <h2><a href="posts/<%=post.id %>"><%= post.title %></a></h2>
  on <%=post.createdAt %>
  <br><%=post.body %>
  <br>
  <br>
  <% }); %>

  <a href="/authors/<%= author.id %>/edit">Edit</a>
<form action="/authors/<%= author.id %>?_method=delete" method="post">
    <input type="submit" value="Delete this author">
  </form>



    </p></div>
    <div class="pure-u-1-5"></div>

</div>

<% include ../partials/footer %>
